
.texto-vermelho {
color: rgb(95, 0, 0);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.texto-azul {
color: rgb(112, 112, 238);

} 
.texto-lilas{
    color:rgb(147, 199, 234)

}
body{background-color: rgb(255, 238, 210);
}
body{font-family: 'Times New Roman', Times, serif;}